 *{
  box-sizing: border-box;
}
body{
  background-color: #f9fafb;
  display:flex;
  align-items:center;
  justify-content: center;
  min-height: 100vh;
  margin : 0px;
}
.container{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
  width: 400px;
}
.form-container input{
  background: #e0e8ef;
  border: none;
  font-size: 16px;
  padding: 15px;
  width: calc(100%);
  border-radius: 4px;
}